body
{
background-color:#C0C0C0	
}

#mainWrapper
{
width:600px;
}

#mainHeader
{
text-align:center;
}

#headerTitle
{
font-weight:bold;
font-size:20px;
}

#mainFrame
{
color:white;
}

#mainBoard
{
position:relative;
border-style:solid;
border-color:black;
overflow-x:auto;
}

#board
{
text-align:center;
}

#board td
{
text-align:center;
vertical-align:middle;
background-color:blue;
color:white;
font-weight:bold;
width:16%;
height:75px;
}

.clue
{
cursor:pointer;
}

#clueBoard
{
background-color:blue;
position:absolute;
left:0px;
top:0px;
height:100%;
width:100%;
z-index:1;
}

#clueBoardTextContainer
{
height:50%;
padding-top:100px;
padding-left:10px;
padding-right:10px;
}

#clueBoardText
{
text-align:center;
vertical-align:middle;
}

#clueBoardText a:link, #clueBoardText a:visited, #clueBoardText a:active
{
color:white;
}

#clueBoardText a:hover
{
color:black;
}

#answerControls
{
text-align:center;
padding-top:50px;
display:none;
}

#nextControl
{
text-align:center;
padding-top:50px;
display:none;
}

#adjustUpButton, #adjustDownButton
{
display:none;
}

#adjustUpButton:disabled, #adjustDownButton:disabled
{
opacity:0.0;
}

#controls
{
padding-bottom:20px;
text-align:center;
color:black;
}

#scoreContainer
{
background-color:blue;
color:white;
font-weight:bold;
}